.logo {
  height: 35px;
  pointer-events: none;
  animation: logo-spin infinite 10s linear;

  &.fast {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  &.large {
    height: 50px;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
