.button {
  border: 2px solid #949494;
  border-radius: 3px;
  font-size: 14px;
  background-color: #fefefe;
  color: #343434;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.2 ease-in-out;  

  &:hover {    
    border-color: #4e4e4e;
    color: #242424;
  }

  &.primary {
    background-color: #666666;
    color: #eeeeee;

    &:hover {    
      background-color: #878787;
    }
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;

    &:hover {      
      border: 2px solid #949494;

      &.primary {        
        background-color: #666666;
      }
    }
  }
}
